<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat QRcode by zillas.id</title>
    <link rel="stylesheet" href="../src/css/main.css">
</head>
<body>
    
    <h1 style="text-align: center;margin-top:9rem;font-size: 4rem;">Buat QRcode</h1>
    <div class="form">
        <div>
            <input type="number" id="id" placeholder="Kode">
        </div>
        <div>
            <input type="text"  id="name" placeholder="Nama">
        </div>
        <div>
            <button class="button" id="submit"> Buat QRCode </button>
        </div>
    </div>

    <script src="../src/js/easy.qrcode.min.js"></script>
    <script src="../src/js/sweetalert2.all.min.js"></script>
    <script src="../src/js/main.js"></script>
<script>
    event('#submit', 'click', createQRcode);
    
</script>
</body>
</html>